body {
	margin: 0;
	padding: 0;
	

	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: black;
}

header {
	/*background-color: #eeeeee;*/
}

/*Общие свойства*/
a {
	text-decoration:none;		
}

.button {
	display: block;
	width: 240px;
	padding: 15px 0;

	font-size: inherit;
	line-height: 18px;
	color: white;
	text-align: center;
	text-transform: uppercase;	
	text-decoration: none;
	border: none;

	border-radius: 3px;
	border: none;	
	background-color: #fb565a;
	
	align-self: flex-start;

	cursor: pointer;
}
	
.button:hover,
.button:focus{
	background-color:#e74246;
}

.button:active {
	background-color:#d7373b;
}

a.button:active {  /*задает прозрачность тексту на кнопке*/
	color: rgba(255,255,255,0.3);  
}


.visially-hidden,
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/*Панель навигации*/

.main-header {
	padding-top: 49px;
	padding-bottom: 35px; 
	background-color: #eeeeee;
}

.main-navigation {
	color: black;
	line-height: 30px;
	text-transform: uppercase;
}

.container {
	width: 1120px;
	margin: 0 auto;
	padding: 0 20px; /**добавлены паддинги чтобы при меньшей ширине*/
	 					/* экрана, страница не прилипала к краям*/
	box-sizing: border-box;
}

.main-navigation {
	width: 1160px;
	display: flex;
	align-items: center;

	background: rgba(210, 25, 25, 0.2); /*временно для позиционирования */
 	box-shadow: inset 0 0 0 2px rgb(234, 255, 45);
}

.site-navigation { 						
	list-style: none;
	width: 660px;
	margin-left: 202px;

	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.site-navigation li{
	padding-right: 45px;
	vertical-align: middle;
	
}

.cart-navigation{
	max-width: 160px;
	justify-content: flex-end;
	
}

.cart-navigation .cart-link {
	position: relative;
	padding-left: 40px;
}

.cart-link::before {
	content: "";
	
	position: absolute;
	top: 1px;
	left: 0px;

	width: 22px;
	height: 22px;
	
	background-image: url("../img/icon-cart.svg"); 
	background-repeat: no-repeat;
	background-position: 0 0;
	/*background-color: red;*/
}

.site-navigation a,
.cart-navigation a {
	color: black;
}

.site-navigation a:hover,
.cart-navigation a:hover,
.site-navigation a:focus,
.cart-navigation a:focus {
	color: #fb565a;
}

.site-navigation a:active,
.cart-navigation a:active {
	color: black;
	opacity:0.3;
}	

/*.site-navigation a:visited { ДЛЯ АКТИВНОГО ПУНКТА МЕНЮ
	text-decoration: underline;
	/*text-decoration-color: #fb565a;
}*/

.main-header-logo:hover img,
.main-header-logo:focus img {
	 opacity: 0.8;
}

.main-header-logo:active img {
	 opacity: 0.3;
}


/*Шапка и слайды*/

.slider {
	position: relative;

	background-color: #eeeeee;	
	margin: 0px;
	margin-bottom: 80px;
	
}

.slider-switches {
	position: absolute;

  	left: 50%;
  	bottom: 104px;
  	z-index: 100;
  
  	width: 160px;
  	height: 18px;

 	text-align: center;
  	font-size: 0;
  	transform: translateX(-50%);
}

.slider-switches i {
	position: relative;

	display: inline-block;
  	width: 18px;
  	height: 18px;
	border-radius: 50%;
	padding: 8px;

  	cursor: pointer;	
}

.slider-switches i::after {
	content: "";
  
  	position: absolute;
 	top: 8px;
  	left: 8px;
  	z-index: 1;
  
  	width: 18px;
  	height: 18px;
  
  	background: #ffffff;
    border-radius: 50%;
}

.slider-switches .active-switch::before {
	content: "";
  
  	position: absolute;
  	left: 50%;
  	top: 50%;
  	z-index: 2;
  
  	width: 4px;
  	height: 4px;
  	margin: -4px;
  
  	background-color: inherit;
  	border: 2px solid #c1c1c1;
 	border-radius: 50%;
}

.slider-list { 						
	list-style: none;

	margin: 0;
	padding: 0;
}

.slider-item {
	display: none;
	padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
	display: block;
}

.slider-item:nth-child(1) {
	background-image: url("../img/slide1.png");
  	background-repeat: no-repeat;
  	background-position: 93% 18px;
}

.slider-item:nth-child(2) {
	background-image: url("../img/slide2.png");
  	background-repeat: no-repeat;
  	background-position: 100% 0;
}

.slider-item:nth-child(3) {
	background-image: url("../img/slide3.png");
  	background-repeat: no-repeat;
  	background-position: 100% 20px;
}

.slider-item h3 {
	font-size: 55px;
	line-height: 55px;
	font-weight: 500px;

	max-width: 600px;
  	margin: 0;
  	margin-bottom: 27px;
}

.slider-item p{
	margin: 0;
	margin-bottom: 42px;
	max-width: 430px; 
}


/*Услуги*/
.services-list { 						
	list-style: none;
	margin:0;
	padding:0;
	margin-bottom: 80px;
	
	display: flex;

}

.service-item h3 {
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
	
	margin: 0;
	padding-bottom: 10px;
	padding-top: 170px;
	
	position: relative;
}

.service-item p {
	margin: 0;
	padding-bottom: 35px;
}


.service-item {
	width: 300px;
	margin-right: 100px;
	/*margin-bottom: 80px;*/

	/*background: rgba(210, 25, 25, 0.2); /*временно для позиционирования 
 	box-shadow: inset 0 0 0 2px rgb(234, 255, 45);*/
}


.service-site h3::after {
	content: "";

	position: absolute;
	width: 300px;
	height: 145px;

	top: 0;
	left: 0;

	background-image: url("../img/illustration-sites1.jpg");
	background-repeat: no-repeat;
  	background-position: 0 0;
	/*background-color: red;*/
}

.service-application h3::after {
	content: "";

	position: absolute;
	width: 300px;
	height: 145px;

	top: 0;
	left: 0;

	background-image: url("../img/illustration-sites2.jpg");
	background-repeat: no-repeat;
  	background-position: 0 0;
	/*background-color: red;*/
}

.service-presentation h3::after {
	content: "";

	position: absolute;
	width: 300px;
	height: 145px;

	top: 0;
	left: 0;

	background-image: url("../img/illustration-sites3.jpg");
	background-repeat: no-repeat;
  	background-position: 0 0;
	/*background-color: red;*/
}


li.button-services {
	display: block; 

}

.service-site .button {
	width: 160px;
}

.service-application .button {
	background-color: #00ca74;
	width: 160px;
}

.service-application .button:hover,
.service-application .button:focus {
	background-color: #00bc6c;
}

.service-application .button:active {
	background-color: #00aa62;
}


.service-presentation .button {
	background-color: #efc84a;
	width: 160px;
}

.service-presentation .button:hover,
.service-presentation .button:focus {
	background-color: #eab534;
}

.service-presentation .button:active {
	background-color: #e5a722;
}


/*О нас*/ 

.about-us {
	border-top: 2px solid #eeeeee;
	padding-top: 40px;

	
	border-bottom: 2px solid #eeeeee;
}

.container-info {
	display:flex;
	justify-content: space-between;
	margin-bottom: 54px;
}

.containter-about-us{
	flex-direction: column;
	width: 660px;
	padding-top: 40px;
	 background: rgba(6, 6, 6, 0.2); /*временно для позиционирования */
 	box-shadow: inset 0 0 0 2px rgb(234, 255, 45);*/

}


p.we-are {					
	font-size: 45px;
	line-height: 45px;
	margin: 0;
	padding: 0;
	margin-bottom: 25px;

}

.our-orders {
	margin:0;
	padding:0;
	margin-top: 35px; 

}

.doing-orders {
	text-transform: uppercase;
	font-weight: bold;
	margin:0;
	padding: 0;
	padding-bottom: 25px;

}

.list-orders {
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 24px;
	list-style: none;
	/*margin-left: 35px;*/
}

.list-orders li {
	margin: 0;
	padding: 0;
	padding-bottom: 25px;
	padding-left: 35px;
	
	position: relative;
}

.list-orders li::before {
	content: "";
	
	position: absolute;
	top: 10px;
	left: 0;
	
	width: 25px;
	height:2px;
	
	background-color: #fb565a;
	
}


/*Статистика*/
.container-statistic {
	flex-direction: column;
	width: 360px;

	background: rgba(6, 6, 6, 0.2); /*временно для позиционирования */
 	box-shadow: inset 0 0 0 2px rgb(234, 255, 45);

	
}

.container-statistic img {
	margin: 0;
}

.statistic-info { 			
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 41px;
	margin-left: 15px;
	margin-bottom: 50px;

	background: rgba(6, 6, 6, 0.2); /*временно для позиционирования */
 	box-shadow: inset 0 0 0 2px rgb(234, 255, 45);
}

.statistic-list { 
	width: 360px;						
	list-style: none;
	margin:0;
	padding: 0;
	
	display: flex;
	justify-content: space-between;

}

.statictic-percent {
	font-weight: bold;
	font-size: 45px;
	line-height: 10.3px;
	margin-bottom: 30px;
	padding-right: 20px;

}

.statictic-parameter {
	line-height: 18px; 
	padding-right: 25px;

}


/*Партнеры*/

.container-partners {
	padding-bottom: 44px;
	padding-top: 46px;
	width: 1160px;
	margin: 0 auto;
	border-bottom: 2px solid #eeeeee;
	
}

.partners-list {
	list-style: none;
	
	margin: 0;
	padding: 0;
	
	display: flex;
	justify-content: space-around;
	align-items: center;
}


.partner-item img {
	opacity: 0.3;
}

 .partner-item img:hover {
	 opacity: 1;
}

.partner-item img:active {
	 opacity: 0.1;
}


/*Подвал*/
.map {
	position: relative;
	margin: 0;
	margin-bottom: 69px;
	margin-top: 80px;
	padding-bottom: 55px;
	overflow: hidden;
	
	background: rgba(6, 6, 6, 0.2); /*временно для позиционирования */
 	box-shadow: inset 0 0 0 2px rgb(234, 255, 45);*/
}

.map img {
	position: absolute;

	width: 100%;
	margin: 0;
	padding: 0;
	
  	z-index: -1;
  
}

.map-container {
	width: 730px;
	margin-top: 55px;
	
}

.our-contacts {
	display: inline-block;
	width: 319px;
	text-align: center;
	margin-left:-180px;
	/*padding-left: 20px;*/

	background-color: #fff;	
}



.name-of-studio {
	margin: 0;
	padding: 0;
	padding-top: 50px; 
	font-size: 18px;
	line-height: 30px;
	margin-bottom: 25px;

	text-transform: uppercase;
	font-weight: bold;
}

.adress {
	line-height:18px;
	color:#666666;
	margin: 0;
	padding: 0;

	margin-bottom: 20px;
}


.button-contacts {
	display: block;
	width: 220px;
	margin: 35px auto;
	margin-bottom: 47px;

}


/*Соц.сети*/

.footer-container {
	margin: 0;
	
	margin-left: 140px;
	margin-bottom: 70px;

	align-items: center;
	width: 1000px;

	display: flex;
	justify-content: space-between;

	background: rgba(6, 6, 6, 0.2); /*временно для позиционирования */
 	box-shadow: inset 0 0 0 2px rgb(234, 255, 45);*/

}

.main-footer ul {
	list-style: none;
}

.footer-social{
	padding: 0;
	width: 300px;

	/*background: rgba(210, 25, 25, 0.2); /*временно для позиционирования */
 	/*box-shadow: inset 0 0 0 2px rgb(234, 255, 45);*/
}


.social-button-list {
	padding: 0;
	margin:0;
	width: 260px;
	
	/*margin-bottom:70px; */
	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	
}

.social-button {
	width: 80px;
	height: 80px;
	background-color: #e1e1e1;
	border-radius: 50%;

	display: flex;
	justify-content: center;
	align-items: center;
}

.social-button:hover,
.social-button:focus {
	background-color: #e74246;
}

.social-button:active {
	background-color: #d7373b;
}

.be-friend {
	width: 630px;
	margin-left: 130px;
	background: rgba(210, 25, 25, 0.2); /*временно для позиционирования */
 	box-shadow: inset 0 0 0 2px rgb(234, 255, 45);*/
}

.be-friend p {
	
}

.friend {

	font-size: 36px;
	line-height: 36px;
	font-weight:bold;
	color: black;
	margin: 0;
	padding-bottom: 8px;
}

.discont {
	margin:0;
}




/*МАГАЗИН*/
h1.page-title {
	margin:0;
	padding:0;
	padding-bottom: 116px;

	font-size: 55px;
	line-height: 55px;
	text-align: center;
	
	/*margin-bottom: 175px;*/
	background-color: #eeeeee;	
}

/*Фильтры*/

.filters {

	width: 260px;
	margin-right: 140px;
	
	/*background: rgba(210, 25, 25, 0.2); /*временно для позиционирования */
 	/*box-shadow: inset 0 0 0 2px rgb(234, 255, 45);*/
}

.filter fieldset {
	border:none;
}



legend {
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	text-transform: uppercase;
	/*margin-bottom: 25px;*/
	font-weight: 700;
}


.filter ul {
	list-style: none;
	font-size: 16px;
	line-height: 20px;
	font: inherit;
	
}

.filter-item {
  margin: 0;
  padding: 0;
  padding-bottom: 55px;
  border: none;
	
  	/*background: rgba(66, 231, 93, 0.2); /*временно для позиционирования */
 	/*box-shadow: inset 0 0 0 2px rgb(234, 255, 45);*/
}

/*Фильтр: Стоимость*/
.range-filter {
  width: 260px;
  margin-top: 50px;
  	background: rgba(66, 231, 93, 0.2); /*временно для позиционирования */
 	box-shadow: inset 0 0 0 2px rgb(234, 255, 45);
  
}


.range-controls {
  position: relative;
  
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  
  background-color: #f1f1f1;
  
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  
  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

/*Фильтр: Сетка*/


.filter-list  {
	margin:0;
	padding:0;	
	color: #283136;
}	

.filter-option {
	padding-left: 36px;
}

.filter-option label {
	position: relative;
	display: block;
	cursor: pointer;
	user-select: none;
}

.filter-grid-radio + label::before {
	content: "";
	position: absolute;
	left: -35px;
	top:0;
	
	width: 25px;
	height: 25px;
	
	opacity: 0.4;

	background-image: url("../img/icon-radio-off.svg"); 
	background-repeat: no-repeat;
	background-position: 0 0;
	
}

.filter-grid-radio:checked + label::before {
	content: "";
	position: absolute;
	left: -35px;
	top:0;
	
	width: 25px;
	height: 25px;
	
	opacity: 0.4;
	
	background-image: url("../img/icon-radio-on.svg"); 
	background-repeat: no-repeat;
	background-position: 0 0;
}

.filter-list li {
	padding-bottom: 23px;
	vertical-align: center;

	/*background: rgba(66, 66, 231, 0.2); /*временно для позиционирования */
 	/*box-shadow: inset 0 0 0 2px rgb(234, 255, 45);*/
}	

.filter-list li:nth-last-child(1) {
	padding-bottom: 0;
}

.filter-list li:first-child {
	padding-top: 18px;
}


/*Фильтр: Особенности*/
.input-filter-checkbox + label::before {
	content: "";
	position: absolute;
	left: -35px;
	top:0;
	
	width: 25px;
	height: 25px;
	
	opacity: 0.4;

	background-image: url("../img/icon-checkbox-off.svg"); 
	background-repeat: no-repeat;
	background-position: 0 0;
}

.input-filter-checkbox:checked + label::before {
	content: "";
	position: absolute;
	left: -35px;
	top:0;
	
	width: 25px;
	height: 25px;
	
	opacity: 0.4;

	background-image: url("../img/icon-checkbox-on.svg"); 
	background-repeat: no-repeat;
	background-position: 0 0;
}

.filter-grid-radio + label:hover:before,
.filter-grid-radio:checked + label:hover:before,
.input-filter-checkbox + label:hover:before,
.input-filter-checkbox:checked + label:hover:before {
 	opacity: 1;	
}

}

.button .filter-button {
	margin: 0;
	padding:0;
	
	display: block;
  	width: 100%;
  	padding: 13px 0;

	font-size: 16px;
	font-weight: bold;
	line-height: 18px;

	background-color: #eeeeee;
	border: none;
	color: black;	
}



.filter-button:hover,
.filter-button:focus {
	background-color: #dfdfdf;
}

.filter-button:active {
	background-color: #d5d5d5;
	
}

/*button[type="submit"]:active { /*задает прозрачность тексту на кнопке
	color: rgba(0,0,0,0.3); 
}
*/

button.filter-button:active { /*задает прозрачность тексту на кнопке*/
	color: rgba(0,0,0,0.3); 
}

/*Сортировка*/
.catalog {
	width: 760px;
}

.sorting { 	
	display: flex;
	
	margin: 0 auto;
	justify-content: space-between;
	background: rgba(66, 231, 93, 0.2); /*временно для позиционирования */
 	box-shadow: inset 0 0 0 2px rgb(234, 255, 45);
	
}

.sorting p {
	text-transform: uppercase;
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	/*flex-grow: 2;*/

	padding: 0;
	margin: 0;
	flex-basis: 380px;
	
	/*margin-right:265px; */
}



.sorting-list {
	list-style: none;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;

	padding: 0;
	margin: 0;
	width: 560px;
	
	background: rgba(66, 231, 93, 0.2); /*временно для позиционирования */
 	box-shadow: inset 0 0 0 2px rgb(234, 255, 45);
	
}

.sorting-by {
	flex-grow: 1;
}

.sorting-up-down  {
	position: relative;

}

.up::before {
	content: "";
	position: absolute;
	
	width: 11px;
	height: 10px;
	top: 10px;
	right: 30px;
	
	background-image: url("../img/icon-dir-down.svg"); 
	background-repeat: no-repeat;
	background-position: 0 0;
}


.down::before {
	content: "";
	position: absolute;
	
	width: 11px;
	height: 10px;
	
	top: 10px;
	right: 0px;
	
	opacity: 0.2;
	
	background-image: url("../img/icon-dir-up.svg"); 
	background-repeat: no-repeat;
	background-position: 0 0;
}



.sorting-up-down li {
	width: 60px;
	padding-right: 18px;
	margin: 0;
	
	/*margin-left: 45px;*/

	/*background: rgba(66, 231, 93, 0.2); /*временно для позиционирования */
 	/*box-shadow: inset 0 0 0 2px rgb(234, 255, 45);*/
}

.sorting-up-down li:nth-last-child(1) {
	padding-right: 0;
	text-align: left;
}


.sorting .sorting-list {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	
}

.sorting-list li{
	padding-right: 10px; 
}

.sorting-list a{
	color: #b8b8b8;
}

.sorting-link a:hover,
.sorting-link a:focus {
	color: black;
	opacity:0.6;
}

.sorting-link a:active {
	color: black;
	opacity: 1;
}

.sorting-current a {
	color: black;
}

.sorting-current:hover a,
.sorting-current:focus a {
	color:black;
	opacity: 1;
}

.up:hover::before {
	opacity: 1;
}

.down:hover::before {
	opacity: 0.6;
}

.down:active::before {
	opacity: 1;
}

/*Каталог*/

.catalog-container {
	display:flex;
	justify-content: space-between;
	padding-top: 60px;
}

.catalog-list{
	list-style: none;
	margin:0;
	padding: 0;
	
	margin-top: 55px; 
	display: flex;
	flex-wrap:wrap;
	justify-content: space-between;
	
}

.catalog-item {
	width: 360px;
	margin:0;
	padding: 0;
	margin-bottom: 33px;
	
}


.catalog-item-image img{
	margin: 0;
	padding: 0;
	position: relative;
	padding-top: 35px;
		
}

.catalog-item-image {
	position: relative;
}

.item-active {
	display: inline-block;
	text-align: center;
	/*padding: 0 80px;*/

}

.item-active {
	content: "";
	position: absolute;
	bottom: 6px;
	
	background-color: #eeeeee;
	width: 100%;
	height: 230px;

	z-index: 1;	
	display:none;
}


.name-item {
	font: inherit;
	display: block;
	margin-top: 35px;
	color: black;
	font-weight: bold;
}

.item-active p {
	color: #666666;
	padding: 0 60px;
}

.catalog-button {
	margin: 0 80px;
	margin-top: 30px;
	margin-bottom: 40px;
	width: 200px;
	
}


.catalog-item-image:hover .item-active{
	display: block;
}

.browser-image::before {
	content: "";
	position: absolute;
	
	width: 359px;
	height: 40px;
	
	background-image: url("../img/icon-browser.svg"); 
	background-repeat: no-repeat;
	background-position: 0 0;
}

.catalog-item:hover {

}

.catalog-button {
	width: 200px;
}


/*Пагинация*/

.pagination-list {
	width: 445px;
	list-style: none;
	font-size: 16px;
	font-weight: bold;
	line-height: 18px;
	
	margin: 0;
	padding: 0;
	margin-top: 60px;
	margin-bottom: 60px;
	
	display: flex;
	/*flex-wrap: wrap;*/
	
	
}

.pagination-item {
	padding: 0;
	margin: 0;
	
}

.pagination-item:last-child {
  	margin-right: 0;
}

.pagination-item a {
	padding: 0;
	margin: 0;
	display:block;
	padding: 19px 21px;
	width: 10px;
	
	color: black;
	background-color: #eeeeee;
	border-radius: 7px;
	
	text-align: center;
	margin-right: 11px;
	
	/*background: rgba(66, 66, 231, 0.2); /*временно для позиционирования */
 	/*box-shadow: inset 0 0 0 2px rgb(234, 255, 45);*/
}

.pagination-item-next a {
	width: 200px;
}


.pagination-item a:hover,
.pagination-item a:focus {
	background-color: #dfdfdf;
}

.pagination-item a:active {
	background-color: #d5d5d5;
}

.pagination-item:active a {
	color: black;
	opacity: 0.3;
}

.pagination-item-current a {
	color:black;
	background-color: #ffffff;
	border: 2px solid #dbdbdb;
	
	padding: 17px 21px;
	
}

.pagination-item-current a:hover,
.pagination-item-current a:focus {
	background-color: #ffffff;
}


/*Модальное окно "Напишите нам"*/

.modal {
	position: fixed;
	color: black;
	background-color: #ffffff;
	box-shadow: 0 14px 28px 2px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	z-index: 1;	
}


.modal-write-us {
	width: 960px;

	margin-left: -350px;
	padding-top: 73px;

	top: 120px;
	left: 50%;

}


.modal-write-us h1 {
	margin: 0;
	padding: 0;
	padding-left: 100px;

	font-size: 45px;
	line-height: 45px;
	color: black;
	
	padding-bottom: 35px;

}

.user-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 100px;
	
	background: rgba(225, 225, 5, 0.2); /*временно для позиционирования */
 	box-shadow: inset 0 0 0 2px rgb(234, 255, 45);
	
}

.user-form p {
	margin: 0;
	padding: 0;
	/*margin: 0 100px;*/
	margin-bottom: 36px;
	width: 50%;
	
}

.user-form label{
	display: block;
	line-height: 18px;
	font-weight: bold;
	margin-bottom: 11px;
}

.user-form textarea { 
	width: 760px;

	
}
.send-letter {
	margin: 0;
	margin-left: 100px;
	margin-bottom: 84px;
	width: 260px;
}


.user-form input[type="text"],
.user-form input[type="email"] {
	width: 360px;
	

	/*background: rgba(66, 66, 231, 0.2); /*временно для позиционирования */
 	/*box-shadow: inset 0 0 0 2px rgb(234, 255, 45);*/
}



.user-form input[type="text"],
.user-form input[type="email"],
.user-form textarea {
	box-sizing: border-box;
	padding: 10px 15px;
	
	
	font:inherit;
	line-height:18px;
	color: #444444;
	border: 2px solid #d7dcde;
	border-radius: 3px;

}


.user-form input:hover,
.user-form textarea:hover {
	border-color: 2px solid #b4b9bb;
}

.user-form input:focus 
.user-form textarea:focus {
	border-color: 2px solid black;
}

.user-form input:invalid {
	border-color: 2px solid red;
}


.modal-close {
	position: absolute;

	top: 79px;
	right: 90px;

	width: 25px;
	height: 25px;

	font-size: 0;

	background-color: transparent;

	opacity: 0.3;
	background-image: url("../img/icon-close-cross.svg");
  	background-position: 0 0;
  	background-repeat: no-repeat;
	border: 0;

	cursor: pointer;
}

.modal-close:hover {
	opacity: 1;
}

.modal-close:active {
	opacity: 0.1;
	border: 0; /*ОТКУДА БЕРЕТСЯ РАМКА???*/
}

.modal-write-us {
	display: none;
}