body {
	margin: 0;
	padding: 0;
	

	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: black;
}

header {
	background-color: #eeeeee;
}

/*Общие свойства*/
a {
	text-decoration:none;		
}

.button {
	font: inherit;
	text-align: center;
	text-transform: uppercase;	
	border: none;
	vertical-align: middle;
	color: white;
	background-color: #fb565a;
	
	align-self: flex-start;
}
	
.button:hover,
.button:focus{
	background-color:#e74246;
}

.button:active {
	background-color:#d7373b;

}

a.button:active {  /*задает прозрачность тексту на кнопке*/
	color: rgba(255,255,255,0.3); 
	 
}

.container {
	width: 1160px;
	margin: 0 140px 0 120px;
	padding: 0 10px;
	
}

/*Панель навигации*/
.main-navigation {
	color: black;
	line-height: 30px;
	text-transform: uppercase;
	
	display: flex;
	justify-content: row;
}

.main-navigation-wrapper {
	width: 100%;                 /*Почему не на весь экран растягивается???*/
	/*margin-bottom: 97px;*/
	background-color: #eeeeee;
}

.main-navigation-wrapper .container {
	display: flex;
	justify-content: space-between;
}

.site-navigation { 						
	list-style: none;
	
	display: flex;
	justify-content: space-around;
	
	width: 660px;
	margin: 0;
	margin-top: 85px;
	margin-bottom: 35px;
	padding: 0;
	
}

.cart-navigation{
	width: 160px;
	margin: 0;
	margin-top: 85px;
	margin-bottom: 35px;
	padding: 0;
	
}

.site-navigation a,
.cart-navigation a {
	color: black;
}

.site-navigation a:hover,
.cart-navigation a:hover,
.site-navigation a:focus,
.cart-navigation a:focus {
	color: #fb565a;
}

.site-navigation a:active,
.cart-navigation a:active {
	color: black;
	opacity:0.3;
}	

.main-header-logo {
	margin-top: 49px;
	margin-right: 100px;
	margin-bottom: 85px;
}

.main-header-logo:hover img,
.main-header-logo:focus img {
	 opacity: 0.8;
}

.main-header-logo:active img {
	 opacity: 0.3;
}

/*Шапка и слайды*/
.know-more {
	/*background-color: #eeeeee;*/
	width: 100%;
	background: #eeeeee;
	margin-bottom: 80px;
}

.slides-container {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
}

.short-info {
	width: 376px;
	
	display: flex;
	flex-direction: column;	
}

h1.know {
	font-size: 55px;
	line-height: 55px;
	margin: 0;
	margin-bottom: 30px;
	padding: 0;
}	

.slides-switches { 						
	list-style: none;
}

.slide-radio {
	list-style: none;
	width: 20px;
	display:flex;
	justify-content: space-between;
	
}

/*Услуги*/
.services h3 {
	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: bold;
}

.services-list { 						
	list-style: none;
	margin:0;
	padding:0;
	
	
	display: flex;
	
}

.service-item {
	width: 300px;
	margin-right: 100px;
	margin-bottom: 80px;
}

hr {
	width: 1160px;
	
}

.service-application .button {
	background-color: #00ca74;
}

.service-application .button:hover,
.service-application .button:focus {
	background-color: #00bc6c;
}

.service-application .button:active {
	background-color: #00aa62;
}


.service-presentation .button {
	background-color: #efc84a;
}

.service-presentation .button:hover,
.service-presentation .button:focus {
	background-color: #eab534;
}

.service-presentation .button:active {
	background-color: #e5a722;
}


/*О нас*/ 

p.we-are {					
	font-size: 45px;
	line-height: 45px;
	margin: 0;
	padding: 0;
	margin-bottom: 35px;
	
	
}

.our-orders {
	margin:0;
	padding:0;
	margin-top: 45px; 
}

.doing-orders {
	text-transform: uppercase;
	font-weight: bold;
	padding: 0px;
	
}

.list-orders {
	font-size: 16px;
	line-height: 24px;
	margin: 0;
	padding: 0;
	
	margin-left: 20px;
	margin-bottom: 80px;
}

.list-orders li {
	padding-bottom: 35px;
}

.list-orders li:first-child {
	padding-top: 20px;
}

/*Статистика*/
.container-info {
	display:flex;
	justify-content: space-between;
	margin-top: 80px;
}

.containter-about-us{
	flex-direction: column;
	width: 660px;
}

.container-statistic {
	flex-direction: column;
	width: 360px;
}

.statistic-info { 			
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 41px;
	margin-left: 20px;
}

.statistic-list { 						
	list-style: none;
	margin:0;
	padding: 0;
	margin-top: 50px;
	
	
	display: flex;
	justify-content: space-between;
}

.statictic-percent {
	font-weight: bold;
	font-size: 45px;
	line-height: 10.3px;
	margin-bottom: 30px;
	padding-right: 25px;
}

.statictic-parameter {
	line-height: 18px; 
	padding-right: 25px;
	margin-bottom: 75px;
}




/*Партнеры*/
.partners-list {
	list-style: none;
	width: 1160px;
	margin: 0;
	padding: 0;
	margin-left: 140px;
	margin-right: 140px;
	
	display: flex;
	justify-content: space-around;
	margin-bottom: 44px;
	
}

.partner-item img {
	opacity: 0.3;
}

 .partner-item img:hover {
	 opacity: 1;
}

.partner-item img:active {
	 opacity: 0.1;
}

/*Наш адрес*/
.map {
	
	margin-top: 80px;
}

.map img {
	margin: 0;
	padding: 0;
}
.name-of-studio {
	text-transform: uppercase;
	font-weight: bold;
}

.adress {
	line-height:18px;
	color:#666666;
}

/*Соц.сети*/


/*Подвал*/

.friend {
	font-size: 42px
	line-height: 42px;
	font-weight:bold;
	color: black;
	margin: 0;
	
}

.discont {
	margin:0;
}

.main-footer.discont {
	line-height: 22px;
	color: #444444; 
}

.main-footer ul {
	list-style: none;
}

.social-button-list {
	width: 260px;
	margin-left: 120px;
	padding-left: 20px; 
	
	display: flex;
	justify-content: space-between;
}

.be-friend {
	width: 560px;
}

.footer-container {
	display: flex;
	justify-content: space-between;
}

/*Напишите нам*/

label{
	line-height:18px;
	font-weight: bold;
}

.write-us h1 {
	font-size: 42px
	line-height: 42px;
	font-weight:bold;
	color: black;
}

.user-form input[type="text"],
.user-form input[type="email"],
.user-form textarea {
	font:inherit;
	line-height:18px;
	color: #444444;
	border: 2px solid #d7dcde;
}

.user-form input:hover,
.user-form textarea:hover {
	border-color: 2px solid #b4b9bb;
}

.user-form input:focus 
.user-form textarea:focus {
	border-color: 2px solid black;
}

.user-form input:invalid {
	border-color: 2px solid red;
}


/*МАГАЗИН*/
.page-title {
	font-size: 55px;
	line-height: 55px;
	text-align: center;
	margin:0;
	padding:0;
	margin-bottom: 175px;
}

/*Фильтры*/
.filter fieldset {
	border:none;
}

legend {
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 25px;
}

.filters {
	width: 260px;
}

.filter ul {
	list-style: none;
	font-size: 16px;
	line-height: 20px;
	font: inherit;
}

.filters-container{
	width: 260px;
}

.filter-grid-radio input:hover + label {
	color:#b8b8b8;
}

.filter-list  {
	margin:0;
	padding:0;
}

.filter-list li {
	padding-bottom: 25px;
}

.filter-option:nth-child(3) {
	margin-bottom: 30px;
}

.count-parameters {
	text-transform: uppercase;
	margin-bottom: 62px;
}

.count-parameters input:hover {
	border-color: 2px solid #dfdfdf;
}

.count-parameters input:focus {
	border-color: 2px solid black;
}

.count-parameters input:invalid {
	border-color: 2px solid red;
}


.filter-button {
	font-size: 16px;
	font-weight: bold;
	line-height: 18px;
	background-color: #eeeeee;
	border: none;
	color: black;
	
	margin: 0;
	padding:0;
	width: 260px;
	margin-top: 50px;
	margin-left: 10px;
}

.filter-button:hover,
.filter-button:focus {
	background-color: #dfdfdf;
}

.filter-button:active {
	background-color: #d5d5d5;
	
}

/*button[type="submit"]:active { /*задает прозрачность тексту на кнопке
	color: rgba(0,0,0,0.3); 
}
*/

button.filter-button:active { /*задает прозрачность тексту на кнопке*/
	color: rgba(0,0,0,0.3); 
}

/*Сортировка*/

.sorting p {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
	line-height: 18px;
}

.sorting-list {
	list-style: none;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
}

.sorting-list a{
	color: #b8b8b8;
}

.sorting-list a:hover,
.sorting-list a:focus {
	color: black;
	opacity:0.6;
}

.sorting-list a:active {
	color: black;
	opacity: 1;
}

.sorting-current a {
	color: black;
}

.sorting-current:hover a,
.sorting-current:focus a {
	color:black;
	opacity: 1;
}


/*Каталог*/

.catalog {
	width: 760px;
}

.catalog-columns {
	display:flex;
	justify-content: space-between;
}

.catalog-list{
	list-style: none;
	margin:0;
	padding: 0;
	
	display: flex;
	flex-wrap:wrap;
	justify-content: space-between;
}

.catalog-item {
	width: 360px;
	margin-bottom: 33px;
	
}

.catalog-item:hover {

}


/*Пагинация*/

.pagination-list {
	list-style: none;
	font-size: 16px;
	font-weight: bold;
	line-height: 18px;
	
	margin: 0;
	padding: 0;
	display: flex;
}

.pagination-item a {
	color: black;
	background-color: #eeeeee;
	width: 500px;
	margin-right: 11px;
	
	
	
}

.pagination-item a:hover,
.pagination-item a:focus {
	background-color: #dfdfdf;
}

.pagination-item a:active {
	background-color: #d5d5d5;
}

.pagination-item:active a {
	color: black;
	opacity: 0.3;
}

.pagination-item-current a {
	color:black;
	background-color: #ffffff;
	border: 2px solid #dbdbdb;
	border-radius: 2px;
}
.pagination-item-current a:hover,
.pagination-item-current a:focus {
	background-color: #ffffff;
}



