body {
	margin: 0;
	padding: 0;

	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: black;
}

header {
	background-color: #eeeeee;
}

/*Общие свойства*/
a {
	text-decoration:none;		
}

.button {
	font: inherit;
	text-align: center;
	text-transform: uppercase;	
	border: none;
	vertical-align: middle;
	color: white;
	background-color: #fb565a;
}
	
.button:hover,
.button:focus{
	background-color:#e74246;
}

.button:active {
	background-color:#d7373b;

}

a.button:active {  
	color: rgba(255,255,255,0.3); 
	 
}

/*Панель навигации*/
.main-navigation {
	color: black;
	line-height: 30px;
	text-transform: uppercase;
	
}

.site-navigation { 						
	list-style: none;
}

.site-navigation a,
.cart-navigation a {
	color: black;
}

.site-navigation a:hover,
.cart-navigation a:hover,
.site-navigation a:focus,
.cart-navigation a:focus {
	color: #fb565a;
}

.site-navigation a:active,
.cart-navigation a:active {
	color: black;
	opacity:0.3;
}	

.main-header-logo:hover img,
.main-header-logo:focus img {
	 opacity: 0.8;
}

.main-header-logo:active img {
	 opacity: 0.3;
}

/*Шапка и слайды*/
.know-more {
	background-color: #eeeeee;
}

h1.know {
	font-size: 55px;
	line-height: 55px;
}	

.slides-switches { 						
	list-style: none;
}

/*Услуги*/
.services h3 {
	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: bold;
}

.services-list { 						
	list-style: none;
}

.service-application .button {
	background-color: #00ca74;
}

.service-application .button:hover,
.service-application .button:focus {
	background-color: #00bc6c;
}

.service-application .button:active {
	background-color: #00aa62;
}


.service-presentation .button {
	background-color: #efc84a;
}

.service-presentation .button:hover,
.service-presentation .button:focus {
	background-color: #eab534;
}

.service-presentation .button:active {
	background-color: #e5a722;
}


/*О нас*/ 
p.we-are {					
	font-size: 45px;
	line-height: 45px;
}

.doing-orders {
	text-transform: uppercase;
	font-weight: bold;
}

.statistic-info { 			
	text-transform: uppercase;
	font-weight: bold;
}

.list-orders {
	font-size: 16px;
	line-height: 24px;
}

/*Статистика*/

.statictic-percent {
	font-weight: bold;
	font-size: 45px;
	line-height: 10.3px;
}

.statictic-parameter {
	line-height: 18px; 
}

.statistic-list { 						
	list-style: none;
}


/*Партнеры*/
.partners-list {
	list-style: none;
}

.partner-item img {
	opacity: 0.3;
}

 .partner-item img:hover {
	 opacity: 1;
}

.partner-item img:active {
	 opacity: 0.1;
}

/*Наш адрес*/
.name-of-studio {
	text-transform: uppercase;
	font-weight: bold;
}

.adress {
	line-height:18px;
	color:#666666;
}

/*Соц.сети*/


/*Подвал*/

.friend {
	font-size: 42px
	line-height: 42px;
	font-weight:bold;
	color: black;
}

.main-footer.discont {
	line-height: 22px;
	color: #444444; 
}

.main-footer ul {
	list-style: none;
}

/*Напишите нам*/

label{
	line-height:18px;
	font-weight: bold;
}

.write-us h1 {
	font-size: 42px
	line-height: 42px;
	font-weight:bold;
	color: black;
}

.user-form input[type="text"],
.user-form input[type="email"],
.user-form textarea {
	font:inherit;
	line-height:18px;
	color: #444444;
	border: 2px solid #d7dcde;
}

.user-form input:hover,
.user-form textarea:hover {
	border-color: 2px solid #b4b9bb;
}

.user-form input:focus 
.user-form textarea:focus {
	border-color: 2px solid black;
}

.user-form input:invalid {
	border-color: 2px solid red;
}


/*МАГАЗИН*/
.page-title {
	font-size: 55px;
	line-height: 55px;
	text-align: center;
}

/*Фильтры*/
.filter fieldset {
	border:none;
}

legend {
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
}

.filter ul {
	list-style: none;
	font-size: 16px;
	line-height: 20px;
	font: inherit;
}

.filter-grid-radio input:hover + label {
	color:#b8b8b8;
}

.count-parameters {
	text-transform: uppercase;
}

.count-parameters input:hover {
	border-color: 2px solid #dfdfdf;
}

.count-parameters input:focus {
	border-color: 2px solid black;
}

.count-parameters input:invalid {
	border-color: 2px solid red;
}


.filter-button {
	font-size: 16px;
	font-weight: bold;
	line-height: 18px;
	background-color: #eeeeee;
	border: none;
	color: black;
}

.filter-button:hover,
.filter-button:focus {
	background-color: #dfdfdf;
}

.filter-button:active {
	background-color: #d5d5d5;
	
}

button[type="submit"]:active { /*задает прозрачность тексту на кнопке*/
	color: rgba(0,0,0,0.3); 
}

/*Сортировка*/

.sorting p {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
	line-height: 18px;
}

.sorting-list {
	list-style: none;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
}

.sorting-list a{
	color: #b8b8b8;
}

.sorting-list a:hover,
.sorting-list a:focus {
	color: black;
	opacity:0.6;
}

.sorting-list a:active {
	color: black;
	opacity: 1;
}

.sorting-current a {
	color: black;
}

.sorting-current:hover a,
.sorting-current:focus a {
	color:black;
	opacity: 1;
}


/*Каталог*/

.catalog-list{
	list-style: none;
}

.catalog-item:hover {

}


/*Пагинация*/

.pagination-list {
	list-style: none;
	font-size: 16px;
	font-weight: bold;
	line-height: 18px;
}

.pagination-item a {
	color: black;
	background-color: #eeeeee;
}

.pagination-item a:hover,
.pagination-item a:focus {
	background-color: #dfdfdf;
}

.pagination-item a:active {
	background-color: #d5d5d5;
}

.pagination-item:active a {
	color: black;
	opacity: 0.3;
}

.pagination-item-current a {
	color:black;
	background-color: #ffffff;
	border: 2px solid #dbdbdb;
	border-radius: 2px;
}
.pagination-item-current a:hover,
.pagination-item-current a:focus {
	background-color: #ffffff;
}



