body {
	margin: 0;
	padding: 0;
	

	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: black;
}

header {
	/*background-color: #eeeeee;*/
}

/*Общие свойства*/
a {
	text-decoration:none;		
}

.button {
	display: block;
	width: 240px;
	padding: 13px 0;

	font-size: inherit;
	line-height: 18px;
	color: white;
	text-align: center;
	text-transform: uppercase;	
	text-decoration: none;
	border: none;

	border-radius: 3px;
	border: none;	
	background-color: #fb565a;
	
	align-self: flex-start;
}
	
.button:hover,
.button:focus{
	background-color:#e74246;
}

.button:active {
	background-color:#d7373b;
}

a.button:active {  /*задает прозрачность тексту на кнопке*/
	color: rgba(255,255,255,0.3);  
}


.visially-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

/*Панель навигации*/

.main-header {
	padding-top: 49px;
	padding-bottom: 35px; 
	background-color: #eeeeee;
}

.main-navigation {
	color: black;
	line-height: 30px;
	text-transform: uppercase;
}

.container {
	width: 1160px;
	margin: 0 auto;
	padding: 0 20px; /**добавлены паддинги чтобы при меньшей ширине*/
	 					/* экрана, страница не прилипала к краям*/
	box-sizing: border-box;
}

.main-navigation {
	display: flex;
	align-items: center;
}

.site-navigation { 						
	list-style: none;
	width: 660px;
	margin-left: 202px;

	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.site-navigation li{
	padding-right: 45px;
	vertical-align: middle;
	
}

.cart-navigation{
	max-width: 160px;
	justify-content: flex-end;
	
}

.cart-navigation .cart-link {
	position: relative;
	padding-left: 40px;
}

.cart-link::before {
	content: "";
	
	position: absolute;
	top: 3px;
	left: 10px;

	width: 22px;
	height: 22px;
	
	background-image: url("../img/icon_cart.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	background-color: red;
}

.site-navigation a,
.cart-navigation a {
	color: black;
}

.site-navigation a:hover,
.cart-navigation a:hover,
.site-navigation a:focus,
.cart-navigation a:focus {
	color: #fb565a;
}

.site-navigation a:active,
.cart-navigation a:active {
	color: black;
	opacity:0.3;
}	

/*.site-navigation a:visited { ДЛЯ АКТИВНОГО ПУНКТА МЕНЮ
	text-decoration: underline;
	/*text-decoration-color: #fb565a;
}*/

.main-header-logo:hover img,
.main-header-logo:focus img {
	 opacity: 0.8;
}

.main-header-logo:active img {
	 opacity: 0.3;
}


/*Шапка и слайды*/

.slider {
	position: relative;

	background-color: #eeeeee;	
	margin: 0px;
	margin-bottom: 80px;
	
}

.slider-switches {
	position: absolute;

  	left: 50%;
  	bottom: 104px;
  	z-index: 100;
  
  	width: 160px;
  	height: 18px;

 	text-align: center;
  	font-size: 0;
  	transform: translateX(-50%);
}

.slider-switches i {
	position: relative;

	display: inline-block;
  	width: 18px;
  	height: 18px;
	border-radius: 50%;
	padding: 8px;

  	cursor: pointer;	
}

.slider-switches i::after {
	content: "";
  
  	position: absolute;
 	top: 8px;
  	left: 8px;
  	z-index: 1;
  
  	width: 18px;
  	height: 18px;
  
  	background: #ffffff;
    border-radius: 50%;
}

.slider-switches .active-switch::before {
	content: "";
  
  	position: absolute;
  	left: 50%;
  	top: 50%;
  	z-index: 2;
  
  	width: 4px;
  	height: 4px;
  	margin: -4px;
  
  	background-color: inherit;
  	border: 2px solid #c1c1c1;
 	border-radius: 50%;
}

.slider-list { 						
	list-style: none;

	margin: 0;
	padding: 0;
}

.slider-item {
	display: none;
	padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
	display: block;
}

.slider-item:nth-child(1) {
	background-image: url("../img/slide1.png");
  	background-repeat: no-repeat;
  	background-position: 93% 18px;
}

.slider-item:nth-child(2) {
	background-image: url("../img/slide2.png");
  	background-repeat: no-repeat;
  	background-position: 100% 0;
}

.slider-item:nth-child(3) {
	background-image: url("../img/slide3.png");
  	background-repeat: no-repeat;
  	background-position: 100% 20px;
}

.slider-item h3 {
	font-size: 55px;
	line-height: 55px;
	font-weight: 500px;

	max-width: 600px;
  	margin: 0;
  	margin-bottom: 27px;
}

.slider-item p{
	margin: 0;
	margin-bottom: 42px;
	max-width: 430px; 
}


/*Услуги*/
.services-list { 						
	list-style: none;
	margin:0;
	padding:0;
	margin-bottom: 160px;
	
	display: flex;

	background: rgba(210, 25, 25, 0.2); /*временно для позиционирования */
 	box-shadow: inset 0 0 0 2px rgb(234, 255, 45);
}

.service-item h3 {
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
	
	margin: 0;
	padding-bottom: 10px;
	padding-top: 170px;
	
	position: relative;
}

.service-item p {
	margin: 0;
	padding-right:  ;
	padding-bottom: 35px;
}


.service-item {
	width: 300px;
	margin-right: 100px;
	/*margin-bottom: 80px;*/

	/*background: rgba(210, 25, 25, 0.2); /*временно для позиционирования 
 	box-shadow: inset 0 0 0 2px rgb(234, 255, 45);*/
}


.service-site h3::after {
	content: "";

	position: absolute;
	width: 300px;
	height: 145px;

	top: 0;
	left: 0;

	background-image: url("../img/illustration-sites1.jpg");
	background-repeat: no-repeat;
  	background-position: 0 0;
	/*background-color: red;*/
}

.service-application h3::after {
	content: "";

	position: absolute;
	width: 300px;
	height: 145px;

	top: 0;
	left: 0;

	background-image: url("../img/illustration-sites2.jpg");
	background-repeat: no-repeat;
  	background-position: 0 0;
	/*background-color: red;*/
}

.service-presentation h3::after {
	content: "";

	position: absolute;
	width: 300px;
	height: 145px;

	top: 0;
	left: 0;

	background-image: url("../img/illustration-sites3.jpg");
	background-repeat: no-repeat;
  	background-position: 0 0;
	/*background-color: red;*/
}


a.button-services {
	width: 160px; 
}

.service-application .button {
	background-color: #00ca74;
}

.service-application .button:hover,
.service-application .button:focus {
	background-color: #00bc6c;
}

.service-application .button:active {
	background-color: #00aa62;
}


.service-presentation .button {
	background-color: #efc84a;
}

.service-presentation .button:hover,
.service-presentation .button:focus {
	background-color: #eab534;
}

.service-presentation .button:active {
	background-color: #e5a722;
}


/*О нас*/ 

.about-us {
	padding-top: 80px;
	
}

.container-info {
	display:flex;
	justify-content: space-between;
	margin-bottom: 54px;
}

.containter-about-us{
	flex-direction: column;
	width: 660px;
}


p.we-are {					
	font-size: 45px;
	line-height: 45px;
	margin: 0;
	padding: 0;
	margin-bottom: 25px;

}

.our-orders {
	margin:0;
	padding:0;
	margin-top: 35px; 

}

.doing-orders {
	text-transform: uppercase;
	font-weight: bold;
	margin:0;
	padding: 0;
	padding-bottom: 25px;

}

.list-orders {
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 24px;
	
	
	margin-left: 20px;
}

.list-orders li {
	margin: 0;
	padding: 0;
	padding-bottom: 25px;
}



/*Статистика*/
.container-statistic {
	flex-direction: column;
	width: 360px;

	
}

.container-statistic img {
	margin: 0;
}

.statistic-info { 			
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 41px;
	margin-left: 15px;
	margin-bottom: 50px;


}

.statistic-list { 
	width: 360px;						
	list-style: none;
	margin:0;
	padding: 0;
	
	display: flex;
	justify-content: space-between;

}

.statictic-percent {
	font-weight: bold;
	font-size: 45px;
	line-height: 10.3px;
	margin-bottom: 30px;
	padding-right: 20px;

}

.statictic-parameter {
	line-height: 18px; 
	padding-right: 25px;

}


/*Партнеры*/

.container-partners {
	margin-bottom: 44px;
	width: 1160px;
	margin: 0 auto;

}

.partners-list {
	list-style: none;
	
	margin: 0;
	padding: 0;
	
	display: flex;
	justify-content: space-around;
	align-items: center;
}


.partner-item img {
	opacity: 0.3;
}

 .partner-item img:hover {
	 opacity: 1;
}

.partner-item img:active {
	 opacity: 0.1;
}


/*Наш адрес*/
.map {
	margin-top: 80px;
}

.map img {
	width: 100%;
	margin: 0;
	padding: 0;
	margin-bottom: 69px;
}
.name-of-studio {
	text-transform: uppercase;
	font-weight: bold;
}

.our-contacts {
	width: 319px;
}

.adress {
	line-height:18px;
	color:#666666;
}

/*Соц.сети*/


/*Подвал*/

.friend {
	font-size: 42px
	line-height: 42px;
	font-weight:bold;
	color: black;
	margin: 0;
	
}

.discont {
	margin:0;
}

.main-footer.discont {
	line-height: 22px;
	color: #444444; 
}

.main-footer ul {
	list-style: none;
}

.social-button-list {
	width: 260px;
	margin-left: 120px;
	padding-left: 20px;
	padding-right: 20px; 
	margin-bottom:70px; 

	
	display: flex;
	justify-content: space-between;
}

.social-button-list li {
	padding-right: 13px;
}
.be-friend {
	width: 560px;
	margin-left: 100px;
	margin-right: 340px;
}

.footer-container {
	display: flex;
	justify-content: space-between;
}

/*Напишите нам*/

label{
	line-height:18px;
	font-weight: bold;
}

.write-us h1 {
	font-size: 42px
	line-height: 42px;
	font-weight:bold;
	color: black;
}

.user-form input[type="text"],
.user-form input[type="email"],
.user-form textarea {
	font:inherit;
	line-height:18px;
	color: #444444;
	border: 2px solid #d7dcde;
}

.user-form input:hover,
.user-form textarea:hover {
	border-color: 2px solid #b4b9bb;
}

.user-form input:focus 
.user-form textarea:focus {
	border-color: 2px solid black;
}

.user-form input:invalid {
	border-color: 2px solid red;
}


/*МАГАЗИН*/
h1.page-title {
	font-size: 55px;
	line-height: 55px;
	text-align: center;
	margin:0;
	padding:0;
	padding-bottom: 116px;
	/*margin-bottom: 175px;*/
	background-color: #eeeeee;	
}

/*Фильтры*/
.filter fieldset {
	border:none;
}

legend {
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 25px;
}

.filters {
	width: 260px;
	margin-right: 140px;
}

.filter ul {
	list-style: none;
	font-size: 16px;
	line-height: 20px;
	font: inherit;
}

.filters-container{
	width: 260px;
}

.filter-grid-radio input:hover + label {
	color:#b8b8b8;
}

.filter-list  {
	margin:0;
	padding:0;
}

.filter-list li {
	padding-bottom: 25px;
}

.filter-option:nth-child(3) {
	margin-bottom: 30px;
}

.count-parameters {
	text-transform: uppercase;
	margin-bottom: 62px;
}
.filter-count {
	width: 80px;
	margin-top: 14px;
	margin-right: 33px;
	margin-left: 11px;
	
}

.count-parameters input:hover {
	border-color: 2px solid #dfdfdf;
}

.count-parameters input:focus {
	border-color: 2px solid black;
}

.count-parameters input:invalid {
	border-color: 2px solid red;
}


.filter-button {
	font-size: 16px;
	font-weight: bold;
	line-height: 18px;
	background-color: #eeeeee;
	border: none;
	color: black;
	
	margin: 0;
	padding:0;
	width: 260px;
	margin-top: 50px;
	margin-left: 10px;
}

.filter-button:hover,
.filter-button:focus {
	background-color: #dfdfdf;
}

.filter-button:active {
	background-color: #d5d5d5;
	
}

/*button[type="submit"]:active { /*задает прозрачность тексту на кнопке
	color: rgba(0,0,0,0.3); 
}
*/

button.filter-button:active { /*задает прозрачность тексту на кнопке*/
	color: rgba(0,0,0,0.3); 
}

/*Сортировка*/
.catalog {
	width: 760px;
}

.sorting p {
	text-transform: uppercase;
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	flex-grow: 2;

	padding: 0;
	margin: 0;
	flex-basis: 380px;
	
	/*margin-right:265px; */
}

.sorting {
	display: flex;
	
	margin: 0 auto;
	justify-content: space-between;
}

.sorting-list {
	list-style: none;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;

	padding: 0;
	margin: 0;
	width: 280px;
}	

.sorting-by li {
	flex-grow: 4;
}

.sorting-up-down li {
	width: 60px;
	padding-right: 18px;
	margin: 0;
	flex-grow: 1;
	/*margin-left: 45px;*/

}


.sorting .sorting-list {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	
}


.sorting-list li{
	margin-right: 25px;
	
}

.sorting-list a{
	color: #b8b8b8;
}

.sorting-list a:hover,
.sorting-list a:focus {
	color: black;
	opacity:0.6;
}

.sorting-list a:active {
	color: black;
	opacity: 1;
}

.sorting-current a {
	color: black;
}

.sorting-current:hover a,
.sorting-current:focus a {
	color:black;
	opacity: 1;
}


/*Каталог*/

.catalog-container {
	display:flex;
	justify-content: space-between;
	padding-top: 60px;
}

.catalog-list{
	list-style: none;
	margin:0;
	padding: 0;
	
	display: flex;
	flex-wrap:wrap;
	justify-content: space-between;
}

.catalog-item {
	width: 360px;
	margin-bottom: 33px;
	

	
}

.catalog-item:hover {

}


/*Пагинация*/

.pagination-list {
	list-style: none;
	font-size: 16px;
	font-weight: bold;
	line-height: 18px;
	
	margin: 0;
	padding: 0;
	display: flex;
}

.pagination-item a {
	color: black;
	background-color: #eeeeee;
	width: 500px;
	margin-right: 11px;
	
	
	
}

.pagination-item a:hover,
.pagination-item a:focus {
	background-color: #dfdfdf;
}

.pagination-item a:active {
	background-color: #d5d5d5;
}

.pagination-item:active a {
	color: black;
	opacity: 0.3;
}

.pagination-item-current a {
	color:black;
	background-color: #ffffff;
	border: 2px solid #dbdbdb;
	border-radius: 2px;
}
.pagination-item-current a:hover,
.pagination-item-current a:focus {
	background-color: #ffffff;
}



